---
import Link from "../components/Link.astro";
---

<section class="bg-slate-200">
  <!-- <section class="bg-slate-200 lg:bg-blue-500"> -->
  <div class="grid md:grid-cols-2 grid-cols-1 justify-items-center max-w-6xl mx-auto md:p-5">
    <!-- <div class="">
      <h2 class="pb-5">Kontakt os</h2>
      <div class="flex">
        <h3 class="pr-3 pb-2">Adresse</h3>
        <p>Strandvej 87</p>
      </div>
      <div class="flex">
        <h3 class="pr-3 pb-2">Email</h3>
        <p>mellemlinjerne@gmail.com</p>
      </div>
      <div class="flex">
        <h3 class="pr-3">Phone</h3>
        <p>+45 34523124</p>
      </div>
    </div> -->
    <div class="flex p-9 md:pr-3 max-w-xs font-normal">
      <p class="text-black">
        Copyright 2015 Sten Simons & forlaget
        <span class="text-red-500">M</span>
        <span class="text-black">ellem </span>
        <span class="text-red-500">L</span>
        <span class="text-black">injerne</span>
        <a href="#link1">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-red-500 size-6 inline">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25"
            ></path>
          </svg>
        </a>
      </p>
    </div>
    <div class="flex p-9 md:pr-2 max-w-80">
      <h2 class="pb-3">Lavet med masser af hårdt arbejde af Sten Simons</h2>
      <div class="flex justify-items-center space-x-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-red-500">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m20.893 13.393-1.135-1.135a2.252 2.252 0 0 1-.421-.585l-1.08-2.16a.414.414 0 0 0-.663-.107.827.827 0 0 1-.812.21l-1.273-.363a.89.89 0 0 0-.738 1.595l.587.39c.59.395.674 1.23.172 1.732l-.2.2c-.212.212-.33.498-.33.796v.41c0 .409-.11.809-.32 1.158l-1.315 2.191a2.11 2.11 0 0 1-1.81 1.025 1.055 1.055 0 0 1-1.055-1.055v-1.172c0-.92-.56-1.747-1.414-2.089l-.655-.261a2.25 2.25 0 0 1-1.383-2.46l.007-.042a2.25 2.25 0 0 1 .29-.787l.09-.15a2.25 2.25 0 0 1 2.37-1.048l1.178.236a1.125 1.125 0 0 0 1.302-.795l.208-.73a1.125 1.125 0 0 0-.578-1.315l-.665-.332-.091.091a2.25 2.25 0 0 1-1.591.659h-.18c-.249 0-.487.1-.662.274a.931.931 0 0 1-1.458-1.137l1.411-2.353a2.25 2.25 0 0 0 .286-.76m11.928 9.869A9 9 0 0 0 8.965 3.525m11.928 9.868A9 9 0 1 1 8.965 3.525"
          ></path>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"></path>
        </svg>
      </div>
    </div>
  </div>
</section>
