---
import Link from "../components/Link.astro";
---

<div x-data="{ showmenu: false }" class="p-5 lg:p-10 fixed w-full bg-neutral-100 z-40 border-b-2 border-red-500 shadow-2xl">
  <div id="navbar" class="flex flex-row justify-between">
    <div id="logo" class="flex">
      <p class="pl-10 pr-3 font-medium text-xl">
        <span class="text-red-500 font-bold">M</span>ellem<span class="text-red-500 font-bold">L</span>injerne
      </p>
      <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-red-500 size-6 inline">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25"
          ></path>
        </svg>
      </a>
    </div>
    <nav id="desktopmenu" class="hidden lg:block">
      <ul class="flex flex-row gap-4">
        <li class=""><Link href="#nav_1" variant="primary" size="small">Københavnerbilleder</Link></li>
        <li class=""><Link href="#nav_2" variant="primary" size="small">Bogens indhold</Link></li>
        <li class=""><Link href="#nav_3" variant="primary" size="small">Forfatteren</Link></li>
        <li class=""><Link href="#nav_4" variant="primary" size="small">Køb nu</Link></li>
      </ul>
    </nav>
    <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = ! showmenu">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>
    </button>
  </div>
  <nav id="mobilmenu" class="flex flex-col content-center pt-4" x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
    <ul>
      <li class="text-center py-2 border-y-2"><Link href="#">Link 1</Link></li>
      <li class="text-center py-2 border-b-2"><Link href="#">Link 2</Link></li>
      <li class="text-center py-2 border-b-2"><Link href="#">Link 3</Link></li>
      <li class="text-center py-2 border-b-2"><Link href="#">Link 4</Link></li>
    </ul>
  </nav>
</div>
